[all]
localhost

[all:vars]
host_key_checking = False
ansible_connection = local
ansible_user = {{ device_username }}
ansible_password = {{ device_password }}
transport = cli

[leaf-switches]
leaf-1 ansible_host={{ nodes['leaf-1'].management_ip }}

[spine-switches]
spine-1 ansible_host={{ nodes['spine-1'].management_ip }}

[border-routers]
border-1 ansible_host={{ nodes['csr1000v-1'].management_ip }} 
